<html>
    <head>
        <title>妹不就好棒棒發文工具</title>
        <meta charset="utf-8">
        <!--[if IE]>
              <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <![endif]-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" id="color-switcher-link">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/animations.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/fonts.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery-ui.min.css') }}">

    </head>
    <body>
      <!--[if lt IE 9]>
            <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->

      <!-- wrappers for visual page editor and boxed version of template -->
      <div id="canvas">
        <div id="box_wrapper">
    
          <!-- template sections -->
      
          <section class="ds section_padding_0 columns_padding_5">
            <div class="container">

                  <div class="comment-respond" id="respond">
                    <h3 class="big">妹不就好棒棒發文工具</h3>
    
                    <form class="comment-form" id="commentform" method="post" action="/">

                        <div class="col-md-12">
                          <p class="comment-form-chat">
                            <label for="comment" class="sr-only">Message</label>
                            <!-- <i class="rt-icon2-pencil3"></i> -->
                            <textarea aria-required="true" rows="4" cols="45" name="txtMessage" id="txtMessage"
                              class="form-control with-icon" placeholder="FB發文文字">{{ Message }} </textarea>
                            <i class="rt-icon2-pen"></i>
                          </p>
                        </div>

                        <div class="col-md-12">
                          <p class="comment-form-chat">
                            <label for="comment" class="sr-only">IG Linker</label>
                            <!-- <i class="rt-icon2-pencil3"></i> -->
                            <textarea aria-required="true" rows="4" cols="45" name="txtIgLinker" id="txtIgLinker"
                              class="form-control with-icon" placeholder="IG Linker"></textarea>
                            <i class="rt-icon2-camera6"></i>
                          </p>
                        </div>
                      </div>
                      <p class="form-submit">
                        <button type="button" id="submit" name="submit" class="theme_button wide_button color1">發佈</button>
                        <button type="reset" id="reset" class="theme_button inverse">重新輸入</button>
                      </p>
                      
                      <p class="text-submit">每篇文發送間隔
                        <strong class="grey">{{POST_DELAY}}</strong> 秒
                      </p>
                      <p class="text-submit">每日不發文時間
                        <strong class="grey">{{SLEEP_HOUR_BEGING}}</strong> 時 ~ <strong class="grey">{{SLEEP_HOUR_END}}</strong> 時
                      </p>
                    </form>

                    <div class="alert alert-danger" role="alert" id="alertMessage">
                      <!--
                      <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                      </button>
                      -->
                      <strong>錯誤!</strong> 
                      <span></span>
                    </div>
                  </div>
                  <!-- #respond -->
  
            </div>
          </section>
          
          <section class="ds section_padding_top_30 section_padding_bottom_60">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 to_animate" data-animation="scaleAppear">
          
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                      <a href="#tab1" role="tab" data-toggle="tab">等待發送</a>
                    </li>
                    <!--<li>
                      <a href="#tab2" role="tab" data-toggle="tab">發送完成</a>
                    </li>-->
                  </ul>
          
                  <!-- Tab panes -->
                  <div class="tab-content no-border top-color-border">
                    <div class="tab-pane fade in active" id="tab1">
          
                      <div class="table-responsive">
                        <table id="table1" class="table_template">
                          <thead class="light">
                            <tr>
                              <th>shortcode</th>
                              <th>狀態</th>
                              <th>建立時間</th>
                              <th></th>
                          
                            </tr>
                          </thead>
                          <tbody class="grey">
                            <tr>
                              <td>CR8iF12nYBU	</td>
                              <td>待發送</td>
                              <td>Sat, 31 Jul 2021 01:54:13 GMT</td>
                              <td><a class="theme_button" href="#">刪除</a></td>
                            </tr>
                            <tr>
                              <td>CR83_8_BgpC	</td>
                              <td>粉專已送</td>
                              <td>Sat, 31 Jul 2021 01:54:13 GMT</td>
                              <td><a class="theme_button" href="#">刪除</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
          
                    </div>
                    <!-- .tab-pane -->
          
                    <!--
                    <div class="tab-pane fade" id="tab2">
          
          
                      <div class="table-responsive">
                        <table id="table2" class="table_template">
                          <thead class="light">
                            <tr>
                              <th>shortcode</th>
                              <th>狀態</th>
                              <th>建立時間</th>
                          
                            </tr>
                          </thead>
                          <tbody class="grey">
                            <tr>
                              <td>CR8iF12nYBU	</td>
                              <td>待發送</td>
                              <td>Sat, 31 Jul 2021 01:54:13 GMT</td>
                            </tr>
                            <tr>
                              <td>CR83_8_BgpC	</td>
                              <td>粉專已送</td>
                              <td>Sat, 31 Jul 2021 01:54:13 GMT</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
          
          
                    </div>
                    <! -- .tab-pane  - ->
                    -->
                  </div>
          
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- eof #box_wrapper -->
      </div>
      <!-- eof #canvas -->
    </body>
    <script src="{{ url_for('static', filename='external/jquery/jquery.js') }} "></script>
    <script src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }} "></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }} "></script>
    <script src="{{ url_for('static', filename='scripts/compressed.js') }} "></script>
    <script src="{{ url_for('static', filename='scripts/jquery.blockUI.js') }} "></script>

    <script type="text/javascript">
      var timer;
      
      function delete_post(shortcode){
        if(confirm(`確定要刪除${shortcode}嗎?`))
        {
          $.blockUI();
          $('.alert').hide();
          $.post("/delete", { "shortcode": shortcode }, function(result){
            
            $.unblockUI(); 
            if (!result["isSuccess"]){
              $('.alert > span').text(result["message"]);
              $('.alert').show();
            }
            else
            {
              ListAll();
            }
          }, "json");
        }
      }

      function get_posts(){
        $.getJSON( "/listall", function( result ) {
          if (result["isSuccess"]){
            $("#table1 > tbody").empty();

            var totals =  result["totals"];
            $("a[href=#tab1]").text(`等待發送(${totals})`);
            
            var jdata = JSON.parse(result["data"]);
            for(var i=0; i <= jdata.length -1; i++)
            {
              var row = jdata[i];
              //var shortcode = row[0];
              //var ig_linker = row[2];
              //var createTime = row[4]; //Sat, 31 Jul 2021 01:54:13 GMT
              //alert(row.status );
              switch(row.status)
              {
                case -1:
                  status = "失敗";
                  break;
                case 0:
                  status = "待發送";
                  break;
                case 1:
                  status = "發送到粉專";
                  break;
                case 2:
                  status = "分享到社團";
                  break;
                case 3:
                  status = "完成";
                  break;
              }
              
              html = `<tr>`;
              html += `<td> <a href='${row.link}'  target='_blank'>${row.shortcode}</a></td>`;
              html += `<td>${status}</td>`;
              html += `<td>${row.update_time}</td>`;
              html += `<td><a class='theme_button' href='#' onclick="delete_post('${row.shortcode}');">刪除</a></td>`;
              html += `</tr>`;
              $("#table1 > tbody").append(html);
            }
          }
        });
      }
      
      function add_post()
      {
        var psot_data = {
          "igLinker" : $("#txtIgLinker").val(),
           "message" : $("#txtMessage").val(),
        };
          
        $.post( "/add", psot_data, function( result ) {
          $.unblockUI(); 
          if (!result["isSuccess"]){
            $('.alert > span').text(result["message"]);
            $('.alert').show();
          }
          else
          {
            $("#txtIgLinker").val("");
            get_posts();
          }
        }, "json");
      }

      $(document).ready(function(){

        get_posts();
        
        timer = window.setInterval(get_posts, 5000);

        $('.alert').hide();

        $("#submit").click(function(){
          $.blockUI();
          $('.alert').hide();
          
          add_post();
        });
      });

    </script>
</html>
<!-- https://codepen.io/rickyeckhardt/pen/zYGwaKr -->